@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#header {
    width: 100vw;
    height: 18em;
}
#headerImg {
    width: 100%;
    height: 100%;
}

body {
    background-color: #07000b;
    font-family: "Margarine", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.project {  
    padding: 5px;
    margin: 50px;
}

.linkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding: 5px;
    margin: -5px;
    position: relative;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}
.linkbox:hover {
    box-shadow: 0 0 8px 1px #ebb4007a, 0 0 20px 2px #ebb400;
    
}

.thumbnail {
    width: 350px;
    height: 200px;
    padding: 5px;
    border-radius: 10px;
    filter: grayscale(100%);  
    transition: 0.4s ease-in-out; 
}
.linkbox:hover > .thumbnail {
    filter: grayscale(0%);
}

a {
    text-decoration: none;
}

span {
    color: #ebb300;
    font-size: 2em;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.408);
    border-radius: 5px;
    padding: 10px;
    transition: 0.4s ease-in-out;
}
.linkbox:hover > span {
    opacity: 0;
}