html {
    box-sizing: border-box;
    background-color: #716991;
}

p:first-of-type {
    text-align: center;
    font-size: 20px;
}

body {
    margin: 2em;
    padding: 10px;
    color: rgb(226, 225, 225);
}

h1 {
    text-align: center;
    font-size: 4em;
    color: #79d3be;
}

code, pre {
    font-size: 15px;
    display: block;
    background-color: #b6a19e66;
    padding: 9px;
    margin: 0 auto;
    border-radius: 10px;
    color: #45405b;
    margin-right: 3em;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.challenge {
    font-style: italic;
    font-size: 20px;
}

button {
    background-color: #fba100;
    border: none;
    color: white;
    padding: 14px;
    border-radius: 10px;
    font-size: 16px;
    width: 10em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1em;
}
button:active {
    background-color: #ca8000;
}

.block {
    display: block;
    white-space: pre-wrap;
}

a {
    text-decoration: none;
    color: #39354b;
}
a:visited {
    color: #39354b;
}
a:hover {
    text-decoration: underline;
    color: #b8a9fb;
}
