body {
    background-color: cadetblue;
}

form {
    max-width: 400px;
    margin: 60px auto;
}

input {
    font-size: 25px;
    padding: 8px;
    text-align: center;
    width: 100%;
    border: none;
}

.suggestions {
    list-style: none;
    text-align: center;
}

li {
    background-color: white;
    border: black solid 1px;
    padding: 4px;
    margin: 2px;
    width: 90%;
}