body {
    background-color: cadetblue;
}

form {
    max-width: 400px;
    margin: 60px auto;
}

input {
    font-size: 30px;
    padding: 10px;
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 5px;
}
input:focus {
    border-color: black;
}

.suggestions {
    list-style: none;
    text-align: center;
}

li {
    background-color: white;
    padding: 20px;
    margin-left: -20px;
    font-size: 20px;
    box-shadow: 0px 0px 20px inset #bbbbbb;
    border-radius: 5px;
}

span.population {
    font-size: 13px;
    color: grey;
}